.quote-chart-container{
    width: 40%;
    max-height: 40%;
}

.col m8 s12 martneg10{
    width: 40%;
    max-height: 40%;
}

/* .bar-chart {
    width: 35%;
    max-height: 40%; 
} */

.quote-chart-header {
    text-align: center;
    font-size: 16px;
    padding: 1%;
    color: white;
    background-color: rgb(48, 48, 122);
}

.btn-container{
    padding: 0.5%;
    margin: 1.5%;
}

.months-count-btn{
    margin: 0.3%;
}

.status-count-btn{
    margin: 0.3%;
}