
  <mat-card class="ks-card quote-chart-container">
    <div class="ks-card-header">
      <h2 class="ks-card-title">Quotes Statistics</h2>
    </div>
    <div class="ks-card-body">
    <chart class="bar-chart" [type]="type" [data]="data" 
      [options]="options"></chart>
    <div class="btn-container">
      <button class="status-count-btn" (click)="getQuoteLabelsAndCounts()">Status Count</button>
      <button class="months-count-btn" (click)="getQuotesByMonth()">Quotes Per Month</button>
    </div>
    </div>
    
  </mat-card>

