<mat-card id="htmlData">
    <div class="top_menu" *ngIf="!newInstance">
    <button class="button action_button top_menu_button" id="archive_lead_button"*ngIf="!newInstance" type="submit" (click)="archiveLead()">ARCHIVE LEAD</button>
    <button class="button action_button top_menu_button" *ngIf="!newInstance" type="submit" (click)="createQuote()">CREATE QUOTE</button>
    </div>

    <img id="lead_image" src="../assets/resources/R2_Logo_con_icon.png">
    <mat-card-title>Lead Registration</mat-card-title>

    <form [formGroup]="leadForm" class="lead_form">
           

        <mat-form-field id="title" appearance="outline" class="form-input large_input">
            <mat-label> Lead Title</mat-label>
            <input matInput placeholder="Title placeholder"  type="text" formControlName="title">
            <mat-error *ngIf="leadForm.get('title')?.hasError('required')">
                Title is required.
            </mat-error>
        </mat-form-field>

        
        <button id="pdf_btn" class="button action_button" (click)="savePDF()">Save PDF</button>


        <mat-form-field appearance="outline" class="form-input small_input">
            <mat-label> Date Received</mat-label>
            <input matInput type="date" formControlName="dateReceived">
            <mat-error *ngIf="leadForm.get('dateReceived')?.hasError('required')">
                Date Received is required.
            </mat-error>
        </mat-form-field>
        <button class="info_button date_info"  id="client_site_info_button" mat-icon-button disabled>
            <mat-icon [ngStyle]="{'color':'white'}">info</mat-icon>
        </button>


       
        <mat-form-field appearance="outline" class="form-input small_input right_field">
            <mat-label>Date Due</mat-label>
            <input matInput type="date" formControlName="dueDate">
            <mat-error *ngIf="leadForm.get('dueDate')?.hasError('required')">
                Due Date is required.
            </mat-error>
        </mat-form-field>
        <button class="info_button date_info"  id="client_site_info_button" mat-icon-button disabled>
            <mat-icon [ngStyle]="{'color':'white'}">info</mat-icon>
        </button>



        <mat-form-field appearance="outline" class="form-input small_input" >
        <mat-label > Client</mat-label>
        
        <mat-select formControlName="client_id" (openedChange)="getAllClients()" (selectionChange)="selectClient($event.value)" >
            <mat-select-trigger >{{getSelectedClientName()}}</mat-select-trigger>
              <mat-option *ngFor="let client of clients" [value]="client.client_id">
                  {{client.companyName}}
                  <button class="settings_menu"  mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon [ngStyle]="{'color':'#B4C1CC'}">more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="getClientInfo(client.client_id)">
                        <div >
                        <mat-icon>visibility</mat-icon>
                        <span>View</span>
                        </div>
                      </button>
                    <button (click)="editClient(client.client_id)" mat-menu-item>
                      <div >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                      </div>
                    </button>
                  </mat-menu>
              </mat-option>
              <mat-option><button  class="add_option" (click)="openDialogNewClient()">Add New Client</button></mat-option>
        </mat-select>
        <mat-error *ngIf="leadForm.get('client_id')?.hasError('required')">
            Client is required.
        </mat-error>
        </mat-form-field>
        <button class="info_button" id="client_info_button" (click)="getClientInfo(this.leadForm.value.client_id)" mat-icon-button>
            <mat-icon [ngStyle]="{'color':'#B4C1CC'}">info</mat-icon>
        </button>


        <mat-form-field appearance="outline"  class="form-input small_input right_field">
            <mat-label > Client Site</mat-label>
            <mat-select [disabled]="!client_site_enable" formControlName="client_site_id" (openedChange)="getAllClientSites()" (selectionChange)="selectClientSite($event.value)" >
                <mat-select-trigger >{{getSelectedClientSiteName()}}</mat-select-trigger>
                  <mat-option *ngFor="let client_site of client_sites" [value]="client_site.client_site_id">
                      {{client_site.name}}
                      <button class="settings_menu"  mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon [ngStyle]="{'color':'#B4C1CC'}">more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="getClientSiteInfo(client_site.client_site_id, client_site.client_id)">
                            <div >
                            <mat-icon>visibility</mat-icon>
                            <span>View</span>
                            </div>
                          </button>
                        <button mat-menu-item (click)="editClientSite(client_site.client_site_id)">
                          <div >
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                          </div>
                        </button>
                      </mat-menu>
                  </mat-option>
                  <mat-option><button  class="add_option" (click)="openDialogNewClientSite()">Add New Client Site</button></mat-option>
              </mat-select>
        <mat-error *ngIf="leadForm.get('client_site_id')?.hasError('required')">
            Client Site is required.
        </mat-error>
        </mat-form-field>
        <button class="info_button"  id="client_site_info_button" (click)="getClientSiteInfo(this.leadForm.value.client_site_id, this.leadForm.value.client_id)" mat-icon-button>
            <mat-icon [ngStyle]="{'color':'#B4C1CC'}">info</mat-icon>
        </button>


        <mat-form-field appearance="outline" class="form-input small_input">
            <mat-label > Point Of Contact</mat-label>
        <mat-select [disabled]="!poc_enable" formControlName="point_of_contact_id" (openedChange)="getAllPointOfContacts()" (selectionChange)="selectPointOfContact($event.value)" >
            <mat-select-trigger >{{getSelectedPointOfContactName()}}</mat-select-trigger>
              <mat-option *ngFor="let poc of point_of_contacts" [value]="poc.point_of_contact_id">
                  {{poc.name}}
                  <button class="settings_menu"  mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon [ngStyle]="{'color':'#B4C1CC'}">more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)="getPointOfContactInfo(poc.point_of_contact_id, poc.client_id)">
                        <div >
                        <mat-icon>visibility</mat-icon>
                        <span>View</span>
                        </div>
                      </button>
                    <button mat-menu-item (click)="editPointOfContact(poc.point_of_contact_id)">
                      <div >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                      </div>
                    </button>
                  </mat-menu>
              </mat-option>
              <mat-option><button  class="add_option" (click)="openDialogNewPOC()">Add New POC</button></mat-option>
          </mat-select>
        <mat-error *ngIf="leadForm.get('point_of_contact_id')?.hasError('required')">
            Point of Contact is required.
        </mat-error>
        </mat-form-field>
        <button class="info_button"  mat-icon-button (click)="getPointOfContactInfo(this.leadForm.value.point_of_contact_id, this.leadForm.value.client_id)" >
            <mat-icon [ngStyle]="{'color':'#B4C1CC'}">info</mat-icon>
        </button>

        <mat-form-field appearance="outline" class="form-input small_input right_field">
            <mat-label > Assigned Employee</mat-label>
        <mat-select (click)="getAllUsers()" [(value)]="user_selected" required >
            <mat-option (click)="selectUser(user.user_id)" *ngFor="let user of users" [value]="user.user_id">
                {{user.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="leadForm.get('assigned_employee_name')?.hasError('required')">
            Assigned Employee is required.
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-input multiline_input">
            <mat-label>Project Description</mat-label>
             <textarea matInput value="Howdy"  formControlName="projectDescription"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-input multiline_input">
            <mat-label>Comments</mat-label>
             <textarea matInput value="Howdy"  formControlName="comments"></textarea>
        </mat-form-field>

        <button class="button action_button save_button" *ngIf="newInstance" type="submit" (click)="createLead()">CREATE LEAD</button>
        <button class="button action_button save_button" *ngIf="!newInstance" type="submit" (click)="updateLead()">SAVE</button>
        <button class="button action_button cancel_button" (click)="cancel()">CANCEL</button>

    
    </form>
</mat-card>
