<h1 mat-dialog-title>{{data.step}}</h1>
    <div mat-dialog-content>
    <form [formGroup]="newClientForm" *ngIf="newClientDialog">
        <mat-form-field class='form-input'>
            <mat-label>Company Name</mat-label>
            <input matInput type="text" formControlName="companyName">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
         <button class="button" type="submit" (click)="createClient()"  mat-dialog-close>Save</button>
    </form>

    <div mat-dialog-content>
        <form [formGroup]="newClientForm" *ngIf="viewClientDialog">
            <mat-form-field class='form-input' disabled>
                <mat-label>Company Name</mat-label>
                <input matInput type="text" formControlName="companyName">
            </mat-form-field>
    
            <mat-form-field class='form-input comment' disabled>
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
            </mat-form-field>
        </form>

    <form [formGroup]="newClientForm" *ngIf="editClientDialog">
           

        <mat-form-field class='form-input'>
            <mat-label>Company Name</mat-label>
            <input matInput type="text" formControlName="companyName">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>

         <button class="button" type="submit" (click)="editClient()"  mat-dialog-close>Save</button>
        
    </form>

    <form [formGroup]="newClientSiteForm" *ngIf="newClientSiteDialog">
        <mat-form-field class='form-input'>
            <mat-label>Site Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Site Address</mat-label>
            <textarea matInput type="text" formControlName="address"></textarea>
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
        <button class="button" (click)="createClientSite()" mat-dialog-close>Save</button>
    </form>

    <form [formGroup]="newClientSiteForm" *ngIf="editClientSiteDialog">
        <mat-form-field class='form-input'>
            <mat-label>Site Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Site Address</mat-label>
            <textarea matInput type="text" formControlName="address"></textarea>
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
        <button class="button" (click)="editClientSite()" mat-dialog-close>Save</button>
    </form>

    <form [formGroup]="newClientSiteForm" *ngIf="viewClientSiteDialog">
        <mat-form-field class='form-input'>
            <mat-label>Site Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Site Address</mat-label>
            <textarea matInput type="text" formControlName="address"></textarea>
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
    </form>

    <form [formGroup]="newPOCForm" *ngIf="newPOCDialog" class="poc">
        <mat-form-field class='form-input small_input'>
            <mat-label>Contact Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class='form-input small_input phone_number'>
            <mat-label>Phone Number</mat-label>
            <input matInput type="phone2numeric" formControlName="phone">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Job Title</mat-label>
            <input matInput type="text" formControlName="job_title">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
        <button class="button" (click)="createPointOfContact()" mat-dialog-close>Save</button>
    </form>


    <form [formGroup]="newPOCForm" *ngIf="editPOCDialog">
        <mat-form-field class='form-input small_input'>
            <mat-label>Contact Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Phone Number</mat-label>
            <input matInput type="phone2numeric" formControlName="phone">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Job Title</mat-label>
            <input matInput type="text" formControlName="job_title">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
        <button class="button" (click)="editPointOfContact()" mat-dialog-close>Save</button>
    </form>

    <form [formGroup]="newPOCForm" *ngIf="viewPOCDialog">
        <mat-form-field class='form-input small_input'>
            <mat-label>Contact Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Phone Number</mat-label>
            <input matInput type="phone2numeric" formControlName="phone">
        </mat-form-field>

        <mat-form-field class='form-input small_input'>
            <mat-label>Job Title</mat-label>
            <input matInput type="text" formControlName="job_title">
        </mat-form-field>

        <mat-form-field class='form-input comment'>
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Name"  type="text" value="Pepito" formControlName="comments"></textarea>
        </mat-form-field>
    </form>
    </div>
