.comment{
    display: block;
    width: 378px;

}

.small_input{
    margin-right: 16px;
}

form{
    width: 394px;
}

.button{
    height: 35px;
    min-width: 100dp;
    padding: 8px 16px;
    background-color: #4BD19F;
    border:none;
    color: #334A55;
    font-weight: bold;
    font-size: 13px;
    font-family: "Manrope", "Helvetica Neue", sans-serif;
    border-radius: 3px;
    margin: 4px;
    float: right;
}

.button:hover{
    color: #F4F4F4;
    cursor: pointer;
}
